#root {
  font: 1.5em serif, 'Times New Roman';
}
#root button {
  padding: 5px 10px;
  font: inherit;
  background-color: #ffff9c;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
#root button:hover {
  background-color: #aeaf52;
}
main {
  height: 85vh;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  background-color: #beeb9f;
}
@media (max-width: 850px){
  main ul {
    width: 80vw !important;
  }
}
main ul {
  width: 50vw;
}
ul {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}
main ul li p {
  text-align: left;
}
main ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
